@charset "UTF-8";
/* Eric Meyer's CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

header .burgermenu {
  display: inline;
  position: fixed;
  right: 0%;
  top: 20%;
  padding: 10% 5% 10% 2%;
  /* Webkit så det kan understøttes på andre browsere */
  -moz-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
  /* Webkit så det kan understøttes på andre browsere */
  -moz-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
  background-color: white;
  z-index: 1;
}

header .burgermenu:hover {
  cursor: pointer;
}

header .burgerikon {
  background: -webkit-linear-gradient(#0a0f3f, #1e8ba1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
}

header .burgerikon:hover {
  cursor: pointer;
}

header .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0f2753;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .sidenav a {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .sidenav a:hover {
  color: #f1f1f1;
}

header .sidenav .closebtn {
  position: absolute;
  right: 0.02%;
  top: 0;
  font-size: 4em;
  margin-bottom: 10%;
}

@media screen and (max-height: 450px) {
  header .sidenav {
    padding-top: 15px;
  }
  header .sidenav a {
    font-size: 18px;
  }
}

header .sidenav a,
header .dropdown-btn {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  color: #fff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: right;
  cursor: pointer;
  outline: none;
  padding: 0 4% 2% 0;
}

header .dropdown-btn {
  margin-top: 5%;
  margin-bottom: 3%;
}

header .dropdown-btn span {
  font-size: 1em;
}

header .sidenav a {
  width: 96%;
  margin-bottom: 3%;
}

header .sidenav a:hover,
header .dropdown-btn:hover {
  color: #f1f1f1;
}

header .active-sidebar {
  background-color: #14486f;
  color: white;
}

header .dropdown-container {
  display: none;
  background-color: #1a6988;
}

header .gblogo {
  width: 20%;
  position: absolute;
  left: 2%;
  top: 1%;
  z-index: 1;
}

@media screen and (min-width: 320px) {
  header .sidenav a,
  header .dropdown-btn {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 720px) {
  header .burgermenu {
    right: 92%;
    -moz-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-top-right-radius: 12px;
    border-top-right-radius: 12px;
    -moz-border-bottom-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  header .burgerikon {
    font-size: 3em;
    margin-left: 60%;
  }
  header .gblogo {
    width: 15%;
  }
}

@media screen and (min-width: 1080px) {
  header .burgerikon {
    font-size: 2.5em;
    margin-left: 80%;
  }
  header .burgermenu {
    padding: 5% 3% 5% 0%;
    right: 96%;
  }
  header .sidenav .closebtn {
    padding: 0;
    right: -85%;
  }
  header .sidenav a,
  header .dropdown-btn {
    text-align: left;
    padding: 4%;
  }
  header .gblogo {
    width: 10%;
  }
}

#page__index #get_in_touch {
  font-size: 1.4rem;
  margin-left: 64%;
  margin-top: -45%;
  margin-bottom: 3%;
  padding: 1%;
  padding-top: 10em;
}

#page__index #tekst_touch {
  margin-bottom: 5%;
}

#page__index #contact {
  background-color: red;
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
  padding-left: 17%;
  padding-right: 17%;
  text-decoration: none;
}

#page__index .atlet1 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page__index .billede_atlet1 {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10em;
}

#page__index .tekst_atlet1 {
  width: 40%;
  padding-left: 4%;
}

#page__index .brodtekst1 {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#page__index h3 {
  font-size: 1.3rem;
}

#page__index .atlet2 {
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page__index .billede_atlet2 {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10em;
  padding-right: 2%;
}

#page__index .tekst_atlet2 {
  width: 40%;
}

#page__index .brodtekst2 {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media only screen and (min-width: 630px) {
  #page__index #get_in_touch {
    margin-bottom: 3%;
    padding: 1%;
  }
  #page__index #tekst_touch {
    margin-bottom: 5%;
    margin-left: 8%;
  }
  #page__index #contact {
    padding-left: 15%;
    padding-right: 15%;
  }
  #page__index h3 {
    font-size: 2.1rem;
    text-decoration: underline;
  }
  #page__index .billede_atlet1 {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20em;
  }
  #page__index .atlet1 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #page__index .brodtekst1 {
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: 10%;
  }
  #page__index .billede_atlet2 {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20em;
  }
  #page__index .atlet2 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #page__index .brodtekst2 {
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 930px) {
  #page__index #get_in_touch {
    padding-top: 20em;
  }
  #page__index h3 {
    font-size: 2.6rem;
    text-decoration: underline;
    display: none;
  }
  #page__index .brodtekst1 {
    font-size: 2.5rem;
  }
  #page__index .billede_atlet2 {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20em;
  }
  #page__index .brodtekst2 {
    font-size: 2.5rem;
    margin-right: 10%;
  }
  #page__index .atlet1 {
    border-top: none;
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 24%;
  }
  #page__index .atlet2 {
    border-top: none;
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 24%;
  }
}

@media only screen and (min-width: 1000px) {
  #page__index .brodtekst1 {
    display: none;
  }
  #page__index .brodtekst2 {
    display: none;
  }
  #page__index .atlet1 {
    display: block;
  }
  #page__index .atlet2 {
    display: block;
  }
  #page__index #atlet_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#page__athlete {
  background: #1a6988;
  background: linear-gradient(77deg, #1a6988 0%, #14486f 35%, #0f2753 100%);
}

#page__athlete #athleteheader {
  background-image: url(../images/placeholderheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50%;
  position: relative;
}

#page__athlete #athleteheader #someathlete {
  margin-left: 2%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  right: 25%;
  top: 70%;
}

#page__athlete #athleteheader #someathlete h3 {
  display: inline;
  font-family: "Oswald", sans-serif;
  color: #04142d;
  font-size: 1.25em;
}

#page__athlete #athleteheader #someathlete h3 span {
  background: #e0e9ee;
  background: -webkit-gradient(linear, left bottom, left top, from(#e0e9ee), to(#a9ced6));
  background: linear-gradient(0deg, #e0e9ee 0%, #a9ced6 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#page__athlete #athleteheader #someathlete a {
  width: 10%;
  text-align: center;
  margin: 1% 0 1% 0;
}

#page__athlete #athleteheader #someathlete img {
  width: 90%;
  margin: 2% 0 2% 0;
}

#page__athlete #contactgb {
  font-family: "Oswald", sans-serif;
  color: white;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fc0211), to(#fd0036));
  background-image: linear-gradient(to bottom, #fc0211, #fd0036);
  font-size: 1em;
  padding: 3%;
  position: absolute;
  top: 2%;
  left: 76%;
  border-radius: 12px;
}

#page__athlete #contactgb:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fc0211), to(#fd0036));
  background-image: linear-gradient(to top, #fc0211, #fd0036);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#page__athlete .btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#page__athlete #selectedresults {
  color: white;
  font-family: "Oswald", sans-serif;
}

#page__athlete #selectedresults h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
  text-align: center;
  margin: 2% 0 2% 0;
}

#page__athlete .selectyear {
  margin-left: 2%;
}

#page__athlete .selectyear span {
  margin-right: 2%;
}

#page__athlete .selectyear p {
  text-align: right;
  margin-right: 10%;
  margin-bottom: 5%;
}

#page__athlete .selectyear h3 {
  margin: 2% 0 4% 1%;
  font-size: 1.15em;
}

#page__athlete .selectyear h3 span::after {
  content: "";
  display: inline-block;
  width: 60%;
  height: 2px;
  background: #fff;
  right: -3%;
  margin-bottom: 1%;
  top: 2%;
  position: relative;
}

#page__athlete .select1st {
  color: #e1c747;
  font-weight: bold;
  font-size: 1.15em;
}

#page__athlete .select2nd {
  color: #c0c0c0;
  font-weight: bold;
  font-size: 1.15em;
}

#page__athlete .select3rd {
  color: #cd7f32;
  font-weight: bold;
  font-size: 1.15em;
}

#page__athlete .selectother {
  font-weight: bold;
  font-size: 1.15em;
}

#page__athlete #someengagement .somebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page__athlete #someengagement .somebox1 {
  background: white;
  width: 50%;
  padding-left: 5%;
  padding-top: 2%;
}

#page__athlete #someengagement .somebox1 h3 {
  font-family: "Bebas Neue", cursive;
  color: #04142d;
  font-size: 2em;
  text-align: center;
}

#page__athlete #someengagement .somebox1 p {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.25em;
}

#page__athlete #someengagement .somebox1 p .somehighlight {
  color: #04142d;
  font-weight: bold;
}

#page__athlete #someengagement .somebox1 p .someunderline {
  text-decoration: underline;
}

#page__athlete #someengagement .somebox2 {
  background: #154d72;
  background: linear-gradient(43deg, #154d72 0%, #0b0f3e 100%);
  width: 50%;
}

#page__athlete #someengagement .someengagementicons img {
  width: 10%;
}

@media screen and (min-width: 720px) {
  #page__athlete #contactgb {
    left: 80%;
  }
}

@media only screen and (min-width: 200px) {
  #page__aboutgb {
    margin: 0 auto;
    width: 94%;
  }
  #aboutme {
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 8%;
  }
  #aboutme h1 {
    padding-top: 20%;
    padding-bottom: 2.5%;
  }
  #aboutme img {
    width: 41%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #aboutme p {
    width: 53%;
  }
  #aboutme a {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 12%;
    padding-right: 12%;
    background-color: blue;
    text-decoration: none;
    color: #fff;
    border-radius: 12px;
  }
  #aboutme-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 8%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #values {
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 6%;
  }
  #values h1 {
    padding-top: 5%;
    padding-bottom: 2.5%;
  }
  #contact {
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 8%;
  }
  #contact h1 {
    padding-top: 5%;
    padding-bottom: 2.5%;
  }
  #contact p {
    line-height: 1.25em;
  }
  #contact h2 {
    padding-top: 6%;
  }
  #contact img {
    width: 20%;
  }
  #some {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-top: 2.5%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */