@charset "UTF-8";
/* Eric Meyer's CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
}

body a:hover {
  cursor: url("../images/pointer.png"), auto;
}

video::-webkit-media-controls-panel:hover {
  cursor: url("..images/pointer.png"), auto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

header .burgermenu {
  display: inline;
  position: fixed;
  right: 0%;
  top: 20%;
  padding: 10% 5% 10% 2%;
  /* Webkit så det kan understøttes på andre browsere */
  -moz-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
  /* Webkit så det kan understøttes på andre browsere */
  -moz-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
  background-color: white;
}

header .burgerikon {
  background: -webkit-linear-gradient(#0a0f3f, #1e8ba1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
}

header .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .sidenav a {
  padding: 8px 8px 8px 32px;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .sidenav a:hover {
  color: #f1f1f1;
}

header .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: -90%;
  font-size: 3em;
}

@media screen and (max-height: 450px) {
  header .sidenav {
    padding-top: 15px;
  }
  header .sidenav a {
    font-size: 18px;
  }
}

header .sidenav a,
header .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  color: #fff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

header .sidenav a:hover,
header .dropdown-btn:hover {
  color: #f1f1f1;
}

header .active-sidebar {
  background-color: #0044ff;
  color: white;
}

header .dropdown-container {
  display: none;
  background-color: #002383;
  padding-left: 8px;
}

header .gblogo {
  width: 20%;
  position: absolute;
  left: 2%;
  top: 3%;
}

@media screen and (min-width: 320px) {
  header .sidenav a,
  header .dropdown-btn {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 720px) {
  header .burgermenu {
    right: 92%;
    -moz-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-top-right-radius: 12px;
    border-top-right-radius: 12px;
    -moz-border-bottom-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  header .burgerikon {
    font-size: 3em;
    margin-left: 60%;
  }
  header .gblogo {
    width: 15%;
  }
}

@media screen and (min-width: 1080px) {
  header .burgerikon {
    font-size: 2.5em;
    margin-left: 80%;
  }
  header .burgermenu {
    padding: 5% 3% 5% 0%;
    right: 96%;
  }
  header .gblogo {
    width: 10%;
  }
}

#get_in_touch {
  background-color: aqua;
  border: 1px solid black;
  font-size: 1.2rem;
  margin-left: 75%;
  margin-top: 50%;
  padding: 1%;
}

#page__athlete {
  background: #1a6988;
  background: linear-gradient(77deg, #1a6988 0%, #14486f 35%, #0f2753 100%);
}
/*# sourceMappingURL=style.css.map */