header {
  //Burgermenu og knap
  .burgermenu {
    display: inline;
    position: fixed;
    right: 0%;
    top: 20%;
    padding: 10% 5% 10% 2%;
    -webkit-border-bottom-left-radius: 12px; /* Webkit så det kan understøttes på andre browsere */
    -moz-border-bottom-left-radius: 12px;
    border-bottom-left-radius: 12px;
    -webkit-border-top-left-radius: 12px; /* Webkit så det kan understøttes på andre browsere */
    -moz-border-top-left-radius: 12px;
    border-top-left-radius: 12px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
    background-color: white;
    z-index: 1;
    &:hover {
      cursor: pointer;
    }
  }
  .burgerikon {
    background: -webkit-linear-gradient(#0a0f3f, #1e8ba1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    &:hover {
      cursor: pointer;
    }
  }
  //Her er sidenavigationen der åbnes med javascript function
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(15, 39, 83, 1);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidenav a {
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    right: 0.02%;
    top: 0;
    font-size: 3em;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }

  .sidenav a,
  .dropdown-btn {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
    color: #fff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: right;
    cursor: pointer;
    outline: none;
    padding: 0 4% 2% 0;
  }
  .dropdown-btn {
    padding-right: 2%;
  }
  .sidenav a {
    width: 98%;
  }
  .sidenav a:hover,
  .dropdown-btn:hover {
    color: #f1f1f1;
  }

  .active-sidebar {
    background-color: rgba(20, 72, 111, 1);
    color: white;
  }

  .dropdown-container {
    display: none;
    background-color: rgba(26, 105, 136, 1);
  }
  .gblogo {
    width: 20%;
    position: absolute;
    left: 2%;
    top: 3%;
    z-index: 1;
  }

  //Viewports til Header og Navbar
  @media screen and (min-width: 320px) {
    .sidenav a,
    .dropdown-btn {
      font-size: 2.5em;
    }
  }
  //Tablet
  @media screen and (min-width: 720px) {
    .burgermenu {
      right: 92%;
      -webkit-border-bottom-left-radius: 0px;
      -moz-border-bottom-left-radius: 0px;
      border-bottom-left-radius: 0px;
      -webkit-border-top-left-radius: 0px;
      -moz-border-top-left-radius: 0px;
      border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 12px;
      -moz-border-top-right-radius: 12px;
      border-top-right-radius: 12px;
      -webkit-border-bottom-right-radius: 12px;
      -moz-border-bottom-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    .burgerikon {
      font-size: 3em;
      margin-left: 60%;
    }
    .gblogo {
      width: 15%;
    }
  }
  //PC
  @media screen and (min-width: 1080px) {
    .burgerikon {
      font-size: 2.5em;
      margin-left: 80%;
    }
    .burgermenu {
      padding: 5% 3% 5% 0%;
      right: 96%;
    }
    .sidenav .closebtn {
      padding: 0;
      right: -85%;
    }
    .sidenav a,
    .dropdown-btn {
      text-align: left;
      padding: 4%;
    }
    .gblogo {
      width: 10%;
    }
  }
}
