#page__brandactivation {
  background: rgb(26, 105, 136);
  background: linear-gradient(
    77deg,
    rgba(26, 105, 136, 1) 0%,
    rgba(20, 72, 111, 1) 35%,
    rgba(15, 39, 83, 1) 100%
  );

  .cursor {
    cursor: pointer;
  }

  h1 {
    font-size: 2em;
    font-family: "Bebas Neue", cursive;
    color: #fff;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 6%;
  }

  p {
    color: #fff;
    font-size: 1.1em;
    width: 82.5%;
    margin: 0 auto;
    font-family: "Rajdhani", sans-serif;
    padding: 4% 0;
    text-align: center;
  }

  img {
    border-radius: 6px;
  }

  .brand-activation-sections {
    width: 90%;
    margin: 0 auto;
    img {
      width: 94%;
      margin-left: -6%;
      margin-bottom: 4%;
    }
  }

  .desktop-text {
    display: none;
  }

  #some-content-section1 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 4% auto;
    img {
      width: 31%;
    }
  }

  #some-section2-img1 {
    align-items: center;
  }

  #some-content-section2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 4% auto;
    img {
      width: 40%;
    }
  }

  #some-section2-img1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4%;
  }
  #some-section2-img2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #some-section2-img3 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 4%;
    align-items: center;
  }

  #some-content-section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 4%;
  }

  #column1 {
    width: 45%;
    display: flex;
    flex-direction: column;
    img {
      width: 92%;
      margin: 8% auto;
    }
  }

  #column2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    img {
      width: 92%;
      margin: 8% auto;
    }
  }

  #contact {
    margin-top: 4%;
    padding-bottom: 8%;
    display: flex;
    justify-content: center;
  }

  #contact-button {
    font-size: 1.2em;
    border-radius: 12px;
    color: white;
    padding: 3% 14%;
    text-decoration: none;
    transition: transform 0.2s;
    font-family: "Oswald", sans-serif;
    background-image: linear-gradient(
      to bottom,
      rgba(252, 2, 17, 1),
      rgba(253, 0, 54, 1)
    );
    &:hover {
      background-image: linear-gradient(
        to top,
        rgba(252, 2, 17, 1),
        rgba(253, 0, 54, 1)
      );
      transform: scale(1.02);
      transition: transform 0.5s;
    }
  }
  #brandactivationvideo {
    margin: 0 auto;
    text-align: center;
    video {
      width: 50%;
    }
  }

  @media only screen and (min-width: 510px) {
    h1 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.4em;
      width: 75%;
    }

    #contact-button {
      font-size: 1.4em;
      padding-left: 12%;
      padding-right: 12%;
    }
  }

  @media only screen and (min-width: 625px) {
    h1 {
      font-size: 3.5em;
      margin: 0 auto;
    }

    p {
      font-size: 1.6em;
      width: 85%;
      padding: 6% 0;
    }

    #contact-button {
      font-size: 1.6em;
      padding: 1% 6%;
    }
  }

  @media only screen and (min-width: 720px) {
    h1 {
      padding-top: 14%;
    }
    p {
      padding: 4% 0;
    }
    .brand-activation-sections {
      img {
        width: 90%;
        display: flex;
        margin: 0 auto;
      }
    }
    #contact {
      margin-top: 2%;
    }
  }

  @media only screen and (min-width: 1060px) {
    h1 {
      padding-top: 12%;
      padding-bottom: 4%;
    }

    .mobile-text {
      display: none;
    }

    .desktop-text {
      display: flex;
      padding: 0;
      margin: 0 auto;
    }

    p {
      font-size: 1.7em;
      line-height: 1.2em;
    }

    #some-content-section1 {
      margin-bottom: 4%;
    }

    #contact-button {
      font-size: 1.6em;
      padding: 1% 5%;
    }
  }

  @media only screen and (min-width: 1280px) {
    #contact-button {
      margin: 0 0 0;
    }
  }

  @media only screen and (min-width: 1350px) {
    h1 {
      padding-top: 8%;
      padding-bottom: 3%;
      font-size: 5em;
      margin-bottom: 0%;
    }

    p {
      font-size: 2em;
      padding: 2% 0;
    }

    .brand-activation-sections {
      img {
        width: 70%;
        margin-bottom: 2%;
      }
    }

    #some-content-section1 {
      margin-top: 2%;
      margin-bottom: 4%;
    }

    #some-content-section2 {
      margin-top: 2%;
      margin-bottom: 2%;
    }

    #some-content-section3 {
      margin-top: 2%;
      padding-bottom: 1%;
    }

    #contact {
      padding-bottom: 0%;
    }

    #contact-button {
      font-size: 2em;
      padding: 1% 5%;
    }
  }
}
