#page__athlete {
  background: rgb(26, 105, 136);
  background: linear-gradient(
    77deg,
    rgba(26, 105, 136, 1) 0%,
    rgba(20, 72, 111, 1) 35%,
    rgba(15, 39, 83, 1) 100%
  );
  //ATHLETE HEADER DANIEL
  #athleteheader {
    background-image: url(../images/daniel/danielbaekkegaardbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90%;
    position: relative;
    text-align: center;
    h1 {
      font-family: "Bebas Neue", cursive;
      text-align: center;
      padding: 1%;
      margin: 0 auto;
      font-size: 2em;
      display: inline;
      color: white;
      background: rgba(0, 0, 0, 0.56);
    }
    #someathlete {
      h3 {
        display: inline;
        font-family: "Oswald", sans-serif;
        color: #04142d;
        font-size: 1.25em;
        span {
          background: rgb(224, 233, 238);
          background: linear-gradient(
            0deg,
            rgba(224, 233, 238, 1) 0%,
            rgba(169, 206, 214, 1) 100%
          );
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 10px 4px;
        }
      }
      z-index: -1;
      padding-left: 2%;
      display: flex;
      flex-direction: column;
      width: 98%;
      right: 25%;
      top: 70%;
      a {
        width: 10%;
        text-align: center;
        margin: 1% 0 1% 0;
      }
      img {
        width: 90%;
        margin: 2% 0 2% 0;
      }
    }
  }
  //ATHLETE HEADERS
  #athleteheader.headeranne {
    background: url(../images/anne/annereischmannbanner.jpg);
    background-position: center;
    background-position-x: 45%;
    background-position-y: 40%;
  }
  #athleteheader.headerflorian {
    background: url(../images/florian/florianbanner.jpg);
    background-position-x: 50%;
    background-position-y: 74%;
  }
  #athleteheader.headerkristian {
    background: url(../images/kristian/kristianhoegenhaugbanner.jpg);
    background-position-x: 70%;
    background-position-y: 50%;
  }
  #athleteheader.headerdaniel {
    background-position-x: 65%;
  }

  #contactgb {
    font-family: "Oswald", sans-serif;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(
      to bottom,
      rgba(252, 2, 17, 1),
      rgba(253, 0, 54, 1)
    );
    font-size: 1em;
    padding: 3%;
    position: absolute;
    top: 2%;
    left: 76%;
    border-radius: 12px;
    &:hover {
      background-image: linear-gradient(
        to top,
        rgba(252, 2, 17, 1),
        rgba(253, 0, 54, 1)
      );
      transform: scale(1.02);
      transition: transform 0.5s;
    }
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  //BIO SLIDES
  .bioslides {
    display: none;
  }
  .selectors {
    display: flex;
    justify-content: space-evenly;
  }
  .prev,
  .next {
    font-size: 2em;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color: rgba(15, 39, 83, 1);
  }
  .dot-container {
    width: 73%;
    text-align: center;
    padding: 2%;
  }
  .dot {
    cursor: pointer;
    margin: 0 2px;
    display: inline-block;
    transition: background-color 0.6s ease;
    font-family: "Oswald", sans-serif;
  }
  .activedot,
  .dot:hover {
    font-weight: bold;
    color: rgba(15, 39, 83, 1);
    font-size: 1.25em;
  }
  //BIO
  #bio {
    margin-top: 12%;
    .biocontainer {
      display: flex;
      justify-content: center;
    }
    .bio1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 37%;
      background: white;
      padding: 2% 4% 2% 5%;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

      h2 {
        font-family: "Bebas Neue", cursive;
        font-size: 2em;
      }
      p {
        font-family: "Rajdhani", sans-serif;
      }
    }
    .bio2 {
      display: flex;
      align-items: center;
      width: 40%;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    img {
      position: relative;
      width: 100%;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
  //SELECTED RESULTS
  #selectedresults {
    margin: 12% 0 0 0;
    color: white;
    font-family: "Oswald", sans-serif;
    h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 2em;
      text-align: center;
      margin: 2% 0 2% 0;
    }
  }
  .selectyear {
    margin-left: 2%;
    span {
      margin-right: 2%;
    }
    p {
      text-align: right;
      margin-right: 10%;
      margin-bottom: 5%;
    }
    h3 {
      margin: 2% 0 4% 1%;
      font-size: 1.15em;
      span::after {
        content: "";
        display: inline-block;
        width: 80%;
        height: 2px;
        background: #fff;
        right: -3%;
        margin-bottom: 1%;
        top: 2%;
        position: relative;
      }
    }
  }

  .select1st {
    color: #e1c747;
    font-weight: bold;
    font-size: 1.15em;
  }

  .select2nd {
    color: #c0c0c0;
    font-weight: bold;
    font-size: 1.15em;
  }

  .select3rd {
    color: #cd7f32;
    font-weight: bold;
    font-size: 1.15em;
  }
  .selectother {
    font-weight: bold;
    font-size: 1.15em;
  }

  //SOME ENGAGEMENT
  #someengagement {
    margin: 12% 0 0 0;
    .somebox {
      display: flex;
      justify-content: center;
    }
    .somebox1 {
      background: white;
      width: 34%;
      padding: 2% 3% 5% 5%;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      h3 {
        font-family: "Bebas Neue", cursive;
        color: #04142d;
        font-size: 1.5em;
      }
      p {
        font-family: "Rajdhani", sans-serif;
        font-size: 1.25em;
        .somehighlight {
          color: #04142d;
          font-weight: bold;
        }
        .someunderline {
          text-decoration: underline;
        }
      }
    }
    .somebox2 {
      background: rgb(21, 77, 114);
      background: linear-gradient(
        43deg,
        rgba(21, 77, 114, 1) 0%,
        rgba(11, 15, 62, 1) 100%
      );
      padding: 2% 5% 0% 3%;
      width: 34%;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      color: white;
      font-family: "Bebas Neue", cursive;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1.75em;
      .athletefollowers {
        padding: 20% 0 0 0;
        width: 75%;

        .instagramlogo {
          width: 40%;
        }
      }
      .athleteengagementrate {
        width: 75%;

        .engagementrate {
          width: 40%;
        }
      }
      .somemobile {
        display: flex;
        align-items: flex-end;
        img {
          width: 100%;
        }
      }
    }

    .someengagementicons {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 5%;
      a {
        width: 15%;
      }
      img {
        width: 100%;
      }
    }
  }

  #partners {
    background-color: white;
    margin: 12% 0 0 0;
    h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 2em;
      text-align: center;
      padding: 3% 0% 3% 0;
    }
  }
  #gallery {
    margin: 12% 0 0 0;
    h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 2em;
      text-align: center;
      margin: 2% 0 2% 0;
      color: white;
    }
    .row {
      display: flex;
      .column {
        width: 25%;
        img {
          margin: 0 2% 0 2%;
          width: 96%;
        }
      }
    }

    .modal {
      display: none;
      position: fixed;
      z-index: 5;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #0f2753;
    }

    .modal-content {
      position: relative;
      margin: 2% auto;
      padding: 0;
      width: 90%;
      .thumbnails {
        background-color: #0f2753;
        display: flex;
      }
      .column {
        width: 100%;
      }
    }

    .close {
      font-family: "Oswald", sans-serif;
      color: white;
      z-index: 6;
      position: absolute;
      top: -3%;
      right: 3%;
      font-size: 5em;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #999;
      text-decoration: none;
      cursor: pointer;
    }

    .lightboxSlides {
      display: none;
      img {
        width: 100%;
      }
    }

    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
      background: rgba(0, 0, 0, 0.56);
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
      background-color: rgba(26, 105, 136, 0.8);
    }

    .numbertext {
      font-family: "Oswald", sans-serif;
      background: rgba(0, 0, 0, 0.56);
      color: #f2f2f2;
      font-size: 1.15em;
      padding: 4%;
      position: absolute;
      top: 0;
    }

    .caption-container {
      text-align: center;
      background-color: #0f2753;
      padding: 2px 16px;
      color: white;
      #caption {
        font-family: "Oswald", sans-serif;
      }
    }

    img.lightboxdot {
      opacity: 0.6;
      width: 90%;
    }

    .active,
    .lightboxdot:hover {
      opacity: 1;
    }

    img.hover-shadow {
      cursor: pointer;
      transition: 0.3s;
    }

    .hover-shadow:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

  $animationSpeed: 30s;

  // Animation for slideren
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 14));
    }
  }

  // Partner Slider
  .slider {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    margin: auto;
    overflow: hidden;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(250px * 14);
    }

    .slide {
      height: auto;
      width: 100%;
    }
  }

  //Tablet
  @media screen and (min-width: 720px) {
    #contactgb {
      left: 80%;
    }
    #athleteheader {
      padding: 20%;
      h1 {
        font-size: 3em;
        border-radius: 12px;
      }
      #someathlete {
        z-index: 3;
        position: absolute;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        right: 5%;
        top: 85%;
        a {
          width: 5%;
        }
      }
    }
    .dot {
      height: 9px;
      width: 9px;
    }
    #bio {
      margin-top: 6%;
      .bio1 {
        width: 25%;
        h2 {
          font-size: 2.5em;
        }
        p {
          font-size: 1.25em;
          margin-top: 3%;
        }
      }
      .bio2 {
        width: 34%;
      }
    }
    #selectedresults {
      margin-top: 6%;
      h2 {
        font-size: 2.5em;
      }
      .selectyear {
        margin-left: 8%;
        h3 {
          font-size: 1.5em;
          span::after {
            width: 75%;
          }
        }
        p {
          font-size: 1.25em;
          margin-right: 15%;
        }
      }
    }
    #someengagement {
      margin-top: 6%;
      .somebox1 {
        width: 30%;
        h3 {
          font-size: 2.5em;
        }
        p {
          margin-top: 3%;
        }
      }
      .somebox2 {
        width: 30%;
        align-items: flex-end;
        font-size: 1.25em;
        .athletefollowers {
          padding-top: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 5%;
        }
        .athleteengagementrate {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          margin-bottom: 5%;
        }
      }
      .someengagementicons {
        a {
          width: 10%;
        }
      }
    }
    #partners {
      margin-top: 7%;
      h2 {
        padding: 1% 0 3% 0;
        font-size: 2.5em;
      }
    }
    #gallery {
      margin-top: 6%;
      padding-bottom: 2%;
      h2 {
        font-size: 2.5em;
      }
      .gallery-container {
        display: flex;
        justify-content: center;
        .row {
          width: 50%;
        }
      }
      .lightboxSlides {
        text-align: center;
        img {
          width: 50%;
        }
      }
      .numbertext {
        background: none;
        font-size: 2.5em;
      }
      .prev,
      .next {
        background: none;
        font-size: 3em;
        margin-top: 0;
        top: 25%;
      }
      .caption-container {
        margin: 2% 0 2% 0;
        font-size: 1.5em;
      }
    }
  }
  //PC
  @media screen and (min-width: 1080px) {
    #athleteheader {
      h1 {
        font-size: 3.5em;
      }
      #someathlete {
        right: 2%;
        top: 91%;
        a {
          width: 3%;
        }
      }
      #contactgb {
        font-size: 2em;
        padding: 1.5%;
        left: 82%;
        font-weight: bold;
      }
    }
    #bio {
      margin-top: 3%;
      .bio1 {
        width: 19%;
        p {
          line-height: 1.2em;
          margin-top: 5%;
        }
      }
      .bio2 {
        width: 28%;
        h2 {
          font-size: 4.25em;
        }
      }
      .dot-container {
        margin-top: 0;
      }
      .dot {
        width: 20px;
        height: 20px;
      }
      @media screen and (min-width: 1400px) {
        .bio1 {
          h2 {
            font-size: 4.25em;
          }
          p {
            font-size: 1.8em;
          }
        }
      }
    }
    #selectedresults {
      h2 {
        font-size: 4.25em;
      }
      .selectyear {
        margin-left: 0;
        width: 26%;
        h3 {
          font-size: 3em;
          text-align: center;
          span {
            margin-right: 0;
            &::after {
              content: none;
            }
          }
        }
        span {
          margin-right: 5%;
        }
        p {
          font-size: 2em;
          margin-right: 0;
          text-align: left;
        }
        .select1st {
          font-size: 1.25em;
        }
        .selectedresultline {
          display: block;
          height: 3px;
          background: white;
          margin-bottom: 7%;
        }
      }
      #select2018.selectyear.florian {
        width: 19%;
      }
      #select2019.selectyear.florian {
        width: 19%;
      }
      #select2020.selectyear.florian {
        width: 19%;
      }
      #select2021.selectyear.florian {
        width: 19%;
      }
      .selectedresultsflex {
        display: flex;
        justify-content: space-evenly;
      }
    }
    #someengagement {
      .somebox1 {
        width: 20%;
        h3 {
          font-size: 3.5em;
          @media screen and (min-width: 1280px) {
            font-size: 4.25em;
          }
        }
        p {
          font-size: 1.8em;
          line-height: 1.2em;
          margin-top: 5%;
        }
      }
      .somebox2 {
        width: 20%;
      }
      .someengagementicons {
        margin-top: 2%;
        margin-right: 25%;
        justify-content: center;
        a {
          width: 3%;
          margin: 0 3% 0 3%;
        }
      }
    }
    #partners {
      margin-top: 3%;
      h2 {
        font-size: 4.25em;
        margin-bottom: 1%;
      }
    }
    #gallery {
      margin-top: 3%;
      h2 {
        font-size: 4.25em;
      }
      .gallery-container {
        .row {
          width: 25%;
        }
      }
      img.lightboxdot {
        width: 50%;
      }
      .modal-content {
        .column {
          text-align: center;
        }
      }
    }
  }
}
