#page__index {
  background: rgb(26, 105, 136);
  background: linear-gradient(
    77deg,
    rgba(26, 105, 136, 1) 0%,
    rgba(20, 72, 111, 1) 35%,
    rgba(15, 39, 83, 1) 100%
  );

  #get_in_touch {
    font-size: 1.4rem;
    margin-left: 69%;
    padding-top: 4%;
    margin-bottom: 7.5%;
  }

  #indexheader {
    text-align: center;
    font-size: 3em;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    padding-top: 2.5%;
    padding-bottom: 0%;

  }

  #tekst_touch {
    margin-bottom: 9%;
    color: white;
    font-family: "Oswald", sans-serif;
  }

  #contact {
    background-color: red;
    border-radius: 12px;
    color: white;
    justify-content: center;
    padding-left: 14%;
    padding-right: 14%;
    text-decoration: none;
    transition: transform 0.2s;
    font-family: "Oswald", sans-serif;
    padding-bottom: 5%;
  }

  .athleteheader {
    display: none;
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-size: 2em;
  }

  #athlete3 {
    border-bottom: 1px solid #fff;
  }
  .atlet1 {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    display: flex;
    padding-top: 2.5%;
    padding-bottom: 4%;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-evenly;
    align-items: center;
  }

  .billede_atlet1 {
    height: auto;
    display: flex;
    width: 35%;
  }

  .tekst_atlet1 {
    width: 40%;
  }

  h3 {
    font-size: 1.3rem;
    color: white;
    font-family: "Bebas Neue", cursive;
    text-align: center;
    margin-top: 5%;
  }

  .atlet2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-top: 2.5%;
    padding-bottom: 4%;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-evenly;
    align-items: center;
  }

  .billede_atlet2 {
    height: auto;
    display: flex;
    width: 35%;
    padding-right: 2%;
  }

  .tekst_atlet2 {
    width: 40%;
  }

  .brodtekst1 {
    font-size: 1.2rem;
    display: flex;
    width: 100%;
    color: white;
    font-family: "Rajdhani", sans-serif;
  }

  .brodtekst2 {
    font-size: 1.2rem;
    display: flex;
    width: 100%;
    color: white;
    font-family: "Rajdhani", sans-serif;
  }

  @media only screen and (min-width: 455px) {
    #get_in_touch {
      margin-bottom: 3%;
      padding: 1%;
      padding-top: 60%;
    }

    h3 {
      font-size: 2rem;
    }

    .atlet1 {
      justify-content: space-evenly;
      padding-right: 6%;
    }

    .atlet2 {
      justify-content: space-evenly;
    }

    .brodtekst1 {
      font-size: 1.3rem;
      display: flex;
      width: 100%;
      margin-right: 10%;
    }

    .brodtekst2 {
      font-size: 1.3rem;
      display: flex;
      width: 100%;
      margin-right: 10%;
    }
  }

  @media only screen and (min-width: 630px) {
    #get_in_touch {
      margin-bottom: 3%;
      padding: 1%;
      padding-top: 55%;
    }

    #tekst_touch {
      margin-bottom: 5%;
      margin-left: 8%;
    }

    #contact {
      padding-left: 15%;
      padding-right: 15%;
    }

    h3 {
      font-size: 2.1rem;
    }

    .billede_atlet1 {
      height: auto;
      display: flex;
      width: 40%;
    }

    .atlet1 {
      justify-content: space-around;
      padding-left: 0%;
      padding-right: 7%;
    }

    .brodtekst1 {
      font-size: 2rem;
      display: flex;
      width: 100%;
      margin-right: 10%;
    }

    .billede_atlet2 {
      height: auto;
      display: flex;
      width: 40%;
    }

    .atlet2 {
      justify-content: space-around;
      padding-left: 0%;
      padding-right: 0%;
    }

    .brodtekst2 {
      font-size: 2rem;
      display: flex;
      width: 100%;
      margin-right: 10%;
    }
  }

  @media only screen and (min-width: 930px) {
    #get_in_touch {
      padding-top: 45em;
      position: absolute;
      width: 23%;
      margin-right: 55%;
      margin-left: 45%;
      display: none;
    }

    h3 {
      font-size: 2.6rem;
      display: none;
    }

    .brodtekst1 {
      font-size: 2.5rem;
      display: none;
    }

    .billede_atlet1 {
      display: flex;
      width: 100%;
    }

    .billede_atlet2 {
      display: flex;
      width: 100%;
      padding: 0;
    }

    .brodtekst2 {
      font-size: 2.5rem;
      margin-right: 10%;
      display: none;
    }

    .atlet1 {
      border-top: none;
      border-bottom: none;
      display: block;
      padding: 0;
    }

    .atlet2 {
      border-top: none;
      border-bottom: none;
      display: block;
      padding: 0;
    }

    #atlet_flex {
      display: flex;
      width: 100%;
      padding-top: 5%;
      justify-content: space-evenly;
      align-items: flex-end;
      height: 100%;
    }
    .tekst_atlet1 {
      display: none;
    }
    .tekst_atlet2 {
      display: none;
    }
    .athleteheader {
      top: 47.5%;
    }
    #header1 {
      left: 3%
    }
    #header2 {
      left: 28.2%
    }
    #header3 {
      left: 55%
    }
    #header4 {
      left: 77.5%
    }
    #athlete1:hover {
      .athleteheader {
        display: block;
      }
    }
  }

  @media only screen and (min-width: 1300px) {
    .billede_atlet1 {
      width: 100%;
    }

    .billede_atlet2 {
      width: 100%;
      margin-top: -5.5%;
    }
  }

  @media only screen and (min-width: 1500px) {
    .billede_atlet1 {
      width: 100%;
    }

    .billede_atlet2 {
      width: 100%;
      margin-top: -4.1%;
    }
  }
}
