@media only screen and (min-width: 200px) {
  #page__aboutgb {
    background: rgb(26, 105, 136);
    background: linear-gradient(
      180deg,
      rgba(26, 105, 136, 1) 0%,
      rgba(20, 72, 111, 1) 35%,
      rgba(15, 39, 83, 1) 100%
    );
    h1,
    h2,
    h3,
    p {
      color: #fff;
    }
    h1 {
      font-family: "Bebas Neue", cursive;
      font-size: 2em;
    }
    h3 {
      font-family: "Bebas Neue", cursive;
      font-size: 1.6em;
    }
    p {
      font-family: "Rajdhani", sans-serif;
      font-size: 1.25em;
    }
  }

  #aboutme {
    margin: 0 auto;
    width: 94%;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 6%;
    h1 {
      padding-top: 20%;
      margin-bottom: 5%;
    }
    img {
      width: 33%;
      object-fit: contain;
    }
    p {
      width: 53%;
      margin-top: 4%;
      text-align: left;
    }
    #email {
      font-family: "Oswald", sans-serif;
      padding-top: 3%;
      padding-bottom: 3%;
      padding-left: 10%;
      padding-right: 10%;
      background-image: linear-gradient(
        to bottom,
        rgba(252, 2, 17, 1),
        rgba(253, 0, 54, 1)
      );
      text-decoration: none;
      color: #fff;
      border-radius: 12px;
      border-radius: 12px;
      &:hover {
        background-image: linear-gradient(
          to top,
          rgba(252, 2, 17, 1),
          rgba(253, 0, 54, 1)
        );
        transform: scale(1.02);
        transition: transform 0.5s;
      }
    }
  }

  #aboutme-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8%;
    align-items: center;
  }

  #values {
    margin: 0 auto;
    width: 94%;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 6%;
    h1 {
      margin-top: 5%;
      margin-bottom: 2.5%;
    }
  }

  #contact {
    margin: 0 auto;
    width: 94%;
    text-align: center;
    padding-bottom: 8%;
    h1 {
      padding-top: 5%;
      padding-bottom: 2.5%;
    }
    h2 {
      line-height: 1.15em;
      font-family: "Oswald", sans-serif;
      font-size: 1.15em;
    }
    h3 {
      margin-top: 12%;
    }
    #phone {
      margin-bottom: 6%;
    }
  }

  #some {
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-top: 1.6%;
    justify-content: space-between;
    img {
      width: 100%;
    }
    a {
      width: 18%;
    }
  }
}

@media only screen and (min-width: 260px) {
  #aboutme {
    p {
      margin-top: 0%;
    }
  }
}

@media only screen and (min-width: 360px) {
  #aboutme {
    img {
      width: 25%;
    }
  }
}

@media only screen and (min-width: 400px) {
  #aboutme {
    img {
      width: 22%;
    }
    #email {
      padding-top: 2.5%;
      padding-bottom: 2.5%;
      padding-left: 8%;
      padding-right: 8%;
    }
  }

  #aboutme-section {
    margin-top: 2%;
  }

  #contact {
    #phone {
      margin-bottom: 3%;
    }
    h3 {
      margin-top: 6%;
    }
  }

  #some {
    width: 66%;
    a {
      width: 20%;
    }
  }
}

@media only screen and (min-width: 500px) {
  #some {
    width: 60%;
    a {
      width: 18%;
    }
  }
}

@media only screen and (min-width: 600px) {
  #aboutme {
    #email {
      padding-top: 1.8%;
      padding-bottom: 1.8%;
      padding-left: 5.5%;
      padding-right: 5.5%;
    }
  }

  #some {
    width: 55%;
    a {
      width: 18%;
    }
  }
}

@media only screen and (min-width: 700px) {
  #aboutme {
    h1 {
      padding-top: 16%;
    }
  }

  #some {
    width: 50%;
  }
}

@media only screen and (min-width: 850px) {
  #some {
    width: 42.5%;
  }
}

@media only screen and (min-width: 960px) {
  #aboutme {
    #email {
      padding-top: 1.4%;
      padding-bottom: 1.4%;
      padding-left: 4.5%;
      padding-right: 4.5%;
    }
  }

  #contact {
    #phone {
      margin-bottom: 2%;
    }
    h3 {
      margin-top: 4.5%;
    }
  }

  #some {
    width: 35%;
  }
}

@media only screen and (min-width: 1100px) {
  #some {
    width: 30%;
  }
}

@media only screen and (min-width: 1280px) {
  #page__aboutgb {
    h1 {
      font-size: 4.25em;
    }
    h2 {
      font-size: 2em;
    }
    h3 {
      font-size: 3em;
    }
    p {
      font-size: 1.8em;
      line-height: 1.2em;
    }
  }

  #email {
    font-size: 1.25em;
  }

  #aboutme,
  #values,
  #contact {
    margin: 0 auto;
    width: 96%;
  }

  #aboutme {
    h1 {
      padding-top: 12%;
      padding-bottom: 1%;
      margin-bottom: 0%;
    }
  }

  #aboutme-section {
    margin-bottom: 5%;
  }

  #values {
    p {
      width: 90%;
      margin: 0 auto;
    }
  }

  #some {
    width: 25%;
  }
}

@media only screen and (min-width: 1600px) {
  #aboutme {
    #email {
      font-size: 1.6em;
      padding-top: 0.8%;
      padding-bottom: 0.8%;
      padding-left: 3%;
      padding-right: 3%;
    }
  }

  #contact {
    #phone {
      margin-bottom: 1.75%;
    }
    h3 {
      margin-top: 4%;
    }
  }

  #some {
    width: 25%;
    a {
      width: 16%;
    }
  }
}
